@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: black;
    color: white;
    width: 100%;
    padding: 3rem 5rem;
}

nav > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav > ul > a {
    color: white;
    text-decoration: none;
    margin: 0 1.4rem;
    font-size: 1.2rem;
}

.burger {
    font-size: 2rem;
    display: none;  
}

header {
    height: 100vh;
    background-color: black;
    color: white;
}
.header-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0 5rem;
}

.header-wrapper > h1 {
    font-size: 3rem;
    font-weight: 500;
}
.header-wrapper > button {
    background-color: #4262FF;
    color: white;
    width: 250px;
    margin-top: 2rem;
    padding: 10px 0;
    font-size: 19px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s all;
}
.header-wrapper > button:hover{
    background-color: #2440cf;
    transform: scale(1.1);
}

.core {
    background-color: black;
    height: 100%;
    padding: 5rem 2rem;
    color: white;
}

.core-wrapper {
    display: flex;
    padding: 0 3rem;
}

.core-title {
    margin-left: 4rem;
}
.core-title > h1 {
    font-size: 3rem;
}
.core-title > p {
    font-size: 18px;
    margin: 10px 0;
}

.core-img {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.core-wrapper > img {
    width: 40%;
    object-fit: cover;
}
.core-img > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.img-title > h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.img-title > p {
    line-height: 25px;
    font-size: 15px;
}

.contact {
    height: 100%;
    padding: 5rem 2rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}
.input-wrapper > h1 {
    margin: 1rem 0;
}
.input-wrapper > input , .input-wrapper > textarea , .input-wrapper > button  {
    margin: 1rem 0;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
    transition: 0.5s all;
    font-size: 16px;
}
.input-wrapper > input:hover , .input-wrapper > textarea:hover , .input-wrapper > button:hover{
    box-shadow: 0 0 15px white;
}

::placeholder {
    color: white;
}

.contact-content:nth-child(1) {
    margin-bottom: 10rem;
}
.contact-content  h2 {
    font-size: 2rem;
}
.contact-content p {
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px 15px;
    margin: 1rem 0;
    transition: 0.5s all;
}
.contact-content p:hover {
    transform: translate(8%);
    box-shadow:  0 0 15px white;
}


.folio {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 2rem;
    flex-direction: column;
    background-color: black;
}


.folio-wrapper {
    display: flex;
}
.folio-wrapper > h1 {
    font-size: 3rem;
}
.folio-wrapper > img {
    width: 3rem;
    height: 4rem;
    padding: 10px;
    background-color: #4262FF;
    border-radius: 10px;
    background-size: contain;
    margin-right: 10px;
}
.folio > p {
    padding: 1rem 0;
    background-color: black;
}

.folio-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    background-color: black;
}
.folio-nav > a {
    text-decoration: none;
    color: white;
    margin: 0 5rem;
    font-size: 1.3rem;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    border-top: 1px solid white;
}
.footer-icon {
    display: flex;
    align-items: center;
}
.footer-icon > p {
    color: purple;
    margin-right: 1rem;
    font-size: 18px;
}

.footer-icon  >i {
    margin-right: 30px;
    font-size: 1.2rem;
    transition: 0.5S all;
}
.footer-icon > i:hover {
    transform: translateY(-50%);
}






@media only screen and (max-width:1240px){
    .core-wrapper {
        flex-direction: column;
    }
    .core-wrapper > img {
        width: 100%;
    }

    .core-title {
        margin: 2rem 0;
    }
     .core-wrapper {
        padding: 0 2rem;
    }
 
}

@media only screen and (max-width:1020px){
    .contact {
        flex-direction: column;
    }

    .input-wrapper {
        width: 90%;
        margin: 0 auto;
    }
    .contact-title {
        width: 100%;
        margin-top: 5rem;
    }
    .contact-content {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width:800px){
    .burger {
        display: block;
    }
    nav > ul {
        display: none;
    }
    .header-wrapper {
        padding: 0 1rem;
    }

    .core-img {
        flex-direction: column;
        text-align: center;
        margin: 5rem auto;
        border: 1px solid white;
        padding: 2rem 1rem;
        width: 100%;
        border-radius: 10px;
        transition: 0.5s all;
    }
    .core-img:hover {
        transform: scale(1.1);
    }

    .img-title > h3 {
        margin: 10px;
    }
    .folio {
        text-align: center;
    }
    .folio-nav >  a {
        margin: 10px;
    }
    footer {
        flex-direction: column;
        line-height: 40px;
    }
}